body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    text-align: center;
}

.cards_books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
}

.card_book {
    flex: 1 0 250px;
    margin: 10px;
    flex: 1, 0;
}

.image {
    margin-top: 10px;
}

.title{}

.bookAuthor, .status {
    text-align: left;
}
