/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust:100%}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*-----------*/

body{
    font-family: Arial, Helvetica, sans-serif;    
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}

.header{
    background-color: #f5f5f5;
}
.header__row {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.header__text{
    color: #445162;
    font-size: 20px;
    letter-spacing: 0,5px;
}
.buttot__add {
}
.table__books {
   
} 
 
.books_cards {
   margin: 0px auto;   
}
.books_cards__row{
    display: flex;
    margin: 0px -25px ;
    flex-wrap: wrap;
}

.book__card {
    padding: 0px 25px;
    flex: 0 1 20%;   
    display: flex; 
  
}

.book__item{
    background-color: grey;
    color: #fff;
    border-radius: 5px ;
    border: 1px solid grey;
    margin-bottom: 15px;
}
.bookTitle {
   text-align: center;
   font-size: 24px;
   text-transform: uppercase;
   padding: 20px 0;
   margin-bottom: 15px;
 }

 .image__book {
     max-height: 200px;


 }
 .bookAuthor {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 0;
 }
.bookStatus {
    text-align: center;
    padding: 10px 0;
}


.footer {
    background-color: #f5f5f5;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;

}
.footer__text {
    color: #445162;
    font-size: 12px;
    letter-spacing: 0,3px;
}